@import "mixins";

header {
  @include root-child();

  border-bottom: 2px $input-bg solid;

  & > nav {
    font-size: 1.2em;

    display: flex;
    column-gap: 0.5em;

    padding: 10px 0;

    & > a:last-child {
      margin-left: auto;
    }
  }
}
