@import "mixins";
@import "variables";

.page {
  @include root-child();

  padding-top: 1em;
  padding-bottom: 50px;

  & > .description {
    margin-bottom: 20px;
  }

  .result-wrapper {
    margin-bottom: 20px;

    h3 {
      margin: 0;
    }

    .text {
      padding: 0.5em;
      border: 1px solid $input-bg;
      margin-bottom: 0.5em;
    }
  }

  form {
    .input-wrapper {
      padding-bottom: 20px;

      label {
        font-weight: bold;
      }

      .hint-list {
        list-style-type: disc;
        padding-left: 2em;
        margin: 10px 0;

        &::before {
          content: "Hints:";
          display: block;

          margin-left: -2em;
        }
      }

      span[role="alert"] {
        color: $red-color;
      }
    }

    & > input[type="submit"] {
      width: 100%;
      max-width: 150px;
      padding: 0.5em 0;
    }
  }

  input,
  textarea {
    background-color: $input-bg;
  }
}
